<body onload="doShowAll()">
	<h2>Shopping Cart with HTML5 Storage Project</h2>
	<p>Insert items and quantity for your shopping cart. </p>
	<form name=ShoppingList id="shoppingList" onload="doShowAll()">

		<div id="main">
			<table>
				<tr>

					<td><b>Item:</b><input type=text name=name id="pname"></td>
					<td><b>Quantity:</b><input type=text name=data id="data"></td>

				</tr>

				<tr>
					<td>
					    <input type=button value="Save"   onclick="SaveItem()"> 
					    <input type=button value="Update" onclick="ModifyItem()"> 
					    <input type=button value="Delete" onclick="RemoveItem()">
					</td>
				</tr>
			</table>
		</div>

		<div id="items_table" onload="doShowAll()">
			<h3>Shopping List</h3>
			<table id=list></table>
			<p>
				<label><input type=button value="Clear" onclick="ClearAll()">
					<i>* Delete all items</i></label>
			</p>
		</div>
	</form>

</body>
