
  <div class="sidebar">
    <ul class="nav-links">
      <li>
          <a [routerLink]="['/admin-dashboard']" >
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/user-list']">
          <i class='bx bx-box' ></i>
          <span class="links_name">User List</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/order-history']" >
          <i class='bx bx-list-ul' ></i>
          <span class="links_name">Order list</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">Analytics</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/payment-history']">
          <i class='bx bx-book-alt' ></i>
          <span class="links_name">Payment list</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/team-member']" >
          <i class='bx bx-user' ></i>
          <span class="links_name">Team</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin-messages']">
          <i class='bx bx-message' ></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      <li>
          <a [routerLink]="['/admin-settings']" class="active">
          <i class='bx bx-cog' ></i>
          <span class="links_name">Settings</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/checkout']">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>
<section class="home-section">
  
  <div class="home-content">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8 mx-auto">
              <h2 class="h3 mb-4 page-title">Settings</h2>
              <div class="my-4">
                  <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Notifications</a>
                      </li>
                  </ul>
                  <h5 class="mb-0 mt-5">Notifications Settings</h5>
                  <p>Select notification you want to receive</p>
                  <hr class="my-4" />
                  <strong class="mb-0">Security</strong>
                  <p>Control security alert you will be notified.</p>
                  <div class="list-group mb-5 shadow">
                      <div class="list-group-item">
                          <div class="row align-items-center">
                              <div class="col">
                                  <strong class="mb-0">Unusual activity notifications</strong>
                                  <p class="text-muted mb-0">Donec in quam sed urna bibendum tincidunt quis mollis mauris.</p>
                              </div>
                              <div class="col-auto">
                                  <div class="custom-control custom-switch">
                                      <input type="checkbox" class="custom-control-input" id="alert1" checked="" />
                                      <span class="custom-control-label"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="list-group-item">
                          <div class="row align-items-center">
                              <div class="col">
                                  <strong class="mb-0">Unauthorized financial activity</strong>
                                  <p class="text-muted mb-0">Fusce lacinia elementum eros, sed vulputate urna eleifend nec.</p>
                              </div>
                              <div class="col-auto">
                                  <div class="custom-control custom-switch">
                                      <input type="checkbox" class="custom-control-input" id="alert2" />
                                      <span class="custom-control-label"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr class="my-4" />
                  <strong class="mb-0">System</strong>
                  <p>Please enable system alert you will get.</p>
                  <div class="list-group mb-5 shadow">
                      <div class="list-group-item">
                          <div class="row align-items-center">
                              <div class="col">
                                  <strong class="mb-0">Notify me about new features and updates</strong>
                                  <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              </div>
                              <div class="col-auto">
                                  <div class="custom-control custom-switch">
                                      <input type="checkbox" class="custom-control-input" id="alert3" checked="" />
                                      <span class="custom-control-label"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="list-group-item">
                          <div class="row align-items-center">
                              <div class="col">
                                  <strong class="mb-0">Notify me by email for latest news</strong>
                                  <p class="text-muted mb-0">Nulla et tincidunt sapien. Sed eleifend volutpat elementum.</p>
                              </div>
                              <div class="col-auto">
                                  <div class="custom-control custom-switch">
                                      <input type="checkbox" class="custom-control-input" id="alert4" checked="" />
                                      <span class="custom-control-label"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="list-group-item">
                          <div class="row align-items-center">
                              <div class="col">
                                  <strong class="mb-0">Notify me about tips on using account</strong>
                                  <p class="text-muted mb-0">Donec in quam sed urna bibendum tincidunt quis mollis mauris.</p>
                              </div>
                              <div class="col-auto">
                                  <div class="custom-control custom-switch">
                                      <input type="checkbox" class="custom-control-input" id="alert5" />
                                      <span class="custom-control-label"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      </div>
  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

