
  <div class="sidebar">
    <ul class="nav-links">
      <li>
          <a [routerLink]="['/admin-dashboard']" >
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/user-list']">
          <i class='bx bx-box' ></i>
          <span class="links_name">User List</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/order-history']" >
          <i class='bx bx-list-ul' ></i>
          <span class="links_name">Order list</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">Analytics</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/payment-history']" class="active">
          <i class='bx bx-book-alt' ></i>
          <span class="links_name">Payment list</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/team-member']" >
          <i class='bx bx-user' ></i>
          <span class="links_name">Team</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin-messages']">
          <i class='bx bx-message' ></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      <li>
          <a [routerLink]="['/admin-settings']">
          <i class='bx bx-cog' ></i>
          <span class="links_name">Settings</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/checkout']">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>
  <section class="home-section">
    
    <div class="home-content">
      <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title pb-3 mt-0">Payment History</h5>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr class="align-self-center">
                                        <th>Payment Id</th>
                                        <th>Client Name</th>
                                        <th>Payment Type</th>
                                        <th>Paid Date</th>
                                        <th>Amount</th>
                                        <th>Transaction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#3889061</td>
                                        <td><img src="../assets/user-logo.jpg" alt="" class="thumb-sm rounded-circle mr-2"> Kevin Heal</td>
                                        <td>Paypal</td>
                                        <td>5/8/2018</td>
                                        <td>$150</td>
                                        <td><span class="badge badge-success m-0" style="padding: 5px;color: white;">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>#3889059</td>
                                        <td><img src="../assets/user-logo.jpg" alt="" class="thumb-sm rounded-circle mr-2"> Frank M. Lyons</td>
                                        <td>Visa Card</td>
                                        <td>15/7/2018</td>
                                        <td>$350</td>
                                        <td><span class="badge badge-success m-0" style="padding: 5px;color: white;">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>#3889062</td>
                                        <td><img src="../assets/user-logo.jpg" alt="" class="thumb-sm rounded-circle mr-2"> Angelo Butler</td>
                                        <td>Debit Card</td>
                                        <td>30/9/2018</td>
                                        <td>$450</td>
                                        <td><span class="badge badge-warning m-0" style="padding: 5px;color: white;">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>#3889063</td>
                                        <td><img src="../assets/user-logo.jpg" alt="" class="thumb-sm rounded-circle mr-2"> Phillip Morse</td>
                                        <td>Master Card</td>
                                        <td>2/6/2018</td>
                                        <td>$70</td>
                                        <td><span class="badge badge-success m-0" style="padding: 5px;color: white;">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>#3889066</td>
                                        <td><img src="../assets/user-logo.jpg" alt="" class="thumb-sm rounded-circle mr-2"> Kevin Heal</td>
                                        <td>Pioneer</td>
                                        <td>5/8/2018</td>
                                        <td>$150</td>
                                        <td><span class="badge badge-danger m-0" style="padding: 5px;color: white;">Declined</span></td>
                                    </tr>
                                    <tr>
                                        <td>#3889069</td>
                                        <td><img src="../assets/user-logo.jpg" alt="" class="thumb-sm rounded-circle mr-2"> Frank M. Lyons</td>
                                        <td>Paypal</td>
                                        <td>15/7/2018</td>
                                        <td>$350</td>
                                        <td><span class="badge badge-warning m-0" style="padding: 5px;color: white;">Pending</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end table-responsive-->
                        <!-- <div class="pt-3 border-top text-right"><a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

