
  <div class="sidebar">
    <ul class="nav-links">
      <li>
          <a [routerLink]="['/admin-dashboard']" >
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/user-list']">
          <i class='bx bx-box' ></i>
          <span class="links_name">User List</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/order-history']">
          <i class='bx bx-list-ul' ></i>
          <span class="links_name">Order list</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">Analytics</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/payment-history']">
          <i class='bx bx-book-alt' ></i>
          <span class="links_name">Payment list</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/team-member']" class="active">
          <i class='bx bx-user' ></i>
          <span class="links_name">Team</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin-messages']">
          <i class='bx bx-message' ></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      <li>
          <a [routerLink]="['/admin-settings']">
          <i class='bx bx-cog' ></i>
          <span class="links_name">Settings</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/checkout']">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>
<section class="home-section">
  
  <div class="home-content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Team Members</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cust.</th>
                                <th>Assign Modules</th>
                                <th>Assign Date</th>
                                <th>Project Name</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-img"><img src="../assets/Mohit_Shah.jpg" alt="">
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">Frontend Portion</h6>
                                    <p class="m-0 font-12">
                                        Assigned to<span class="col-green font-weight-bold"> Mohit Jignesh Shah</span>
                                    </p>
                                </td>
                                <td>20-02-2018</td>
                                <td>
                                  Shopping Buddy
                                </td>
                                <td class="align-middle">
                                    <div class="progress-text">90%</div>
                                    <div class="progress" data-height="6" style="height: 6px;">
                                        <div class="progress-bar bg-success" data-width="90%" style="width: 90%;"></div>
                                    </div>
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-img"><img src="../assets/Rahul_Selvakumar.jpg" alt="">
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">Backend Portion</h6>
                                    <p class="m-0 font-12">
                                        Assigned to<span class="col-green font-weight-bold"> Rahul Selvakumar</span>
                                    </p>
                                </td>
                                <td>22-05-2019</td>
                                <td>
                                  Shopping Buddy
                                </td>
                                <td class="align-middle">
                                    <div class="progress-text">70%</div>
                                    <div class="progress" data-height="6" style="height: 6px;">
                                        <div class="progress-bar bg-purple" data-width="70%" style="width: 70%;"></div>
                                    </div>
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-img"><img src="../assets/Omid_Rajabi.jpg" alt="">
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">API Development</h6>
                                    <p class="m-0 font-12">
                                        Assigned to<span class="col-green font-weight-bold"> Omid Rajabi</span>
                                    </p>
                                </td>
                                <td>11-04-2019</td>
                                <td>
                                  Shopping Buddy
                                </td>
                                <td class="align-middle">
                                    <div class="progress-text">80%</div>
                                    <div class="progress" data-height="6" style="height: 6px;">
                                        <div class="progress-bar" data-width="80%" style="width: 80%;"></div>
                                    </div>
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

