
  <div class="sidebar">
    <ul class="nav-links">
      <li>
          <a [routerLink]="['/admin-dashboard']" >
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/user-list']">
          <i class='bx bx-box' ></i>
          <span class="links_name">User List</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/order-history']" class="active">
          <i class='bx bx-list-ul' ></i>
          <span class="links_name">Order list</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">Analytics</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/payment-history']">
          <i class='bx bx-book-alt' ></i>
          <span class="links_name">Payment list</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/team-member']" >
          <i class='bx bx-user' ></i>
          <span class="links_name">Team</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin-messages']">
          <i class='bx bx-message' ></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      <li>
          <a [routerLink]="['/admin-settings']">
          <i class='bx bx-cog' ></i>
          <span class="links_name">Settings</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/checkout']">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>
<section class="home-section">
  <br>
  <h3 style="padding-left: 10px;">ORDER HISTORY</h3>
  <div class="home-content">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<div class="container">
    <div class="panel panel-default panel-order">
        <div class="panel-heading">
            <strong>Order List</strong>
            <div class="btn-group pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Filter history <i class="fa fa-filter"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Approved orders</a></li>
                        <li><a href="#">Pending orders</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"><img src="../assets/user-logo.jpg" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><span class="badge badge-danger m-0" style="padding: 5px;font-size: large;">rejected</span></div>
                            <span><strong>Order name</strong></span> <span class="btn btn-success m-0">group name</span><br />
                            Quantity : 2, cost: $323.13 <br />
                            <a data-placement="top" class="btn btn-success m-0" href="#" title="View" style="padding: 5px;color: white;"><i class="fa fa-edit"></i></a>
                            <a data-placement="top" class="btn btn-danger m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-key"></i></a>
                            <a data-placement="top" class="btn btn-info m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-upload"></i></a>
                        </div>
                        <div class="col-md-12">order made on: 05/31/2014 by <a href="#">Jane Doe </a></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"><img src="../assets/user-logo.jpg" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><span class="badge badge-warning m-0" style="padding: 5px;font-size: large;">pending</span></div>
                            <span><strong>Order name</strong></span> <span class="btn btn-success m-0">group name</span><br />
                            Quantity : 12, cost: $12623.13<br />
                            <a data-placement="top" class="btn btn-success m-0" href="#" title="View" style="padding: 5px;color: white;"><i class="fa fa-edit"></i></a>
                            <a data-placement="top" class="btn btn-danger m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-key"></i></a>
                            <a data-placement="top" class="btn btn-info m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-upload"></i></a>
                        </div>
                        <div class="col-md-12">order made on: 06/12/2014 by <a href="#">Jane Doe </a></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"><img src="../assets/user-logo.jpg" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><span class="badge badge-success m-0" style="padding: 5px;font-size: large;">Approved</span></div>
                            <span><strong>Order name</strong></span> <span class="btn btn-success m-0">group name</span><br />
                            Quantity : 4, cost: $523.13<br />
                            <a data-placement="top" class="btn btn-success m-0" href="#" title="View" style="padding: 5px;color: white;"><i class="fa fa-edit"></i></a>
                            <a data-placement="top" class="btn btn-danger m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-key"></i></a>
                            <a data-placement="top" class="btn btn-info m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-upload"></i></a>
                        </div>
                        <div class="col-md-12">order made on: 06/20/2014 by <a href="#">Jane Doe</a></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"><img src="../assets/user-logo.jpg" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><span class="badge badge-warning m-0" style="padding: 5px;font-size: large;">pending</span></div>
                            <span><strong>Order name</strong></span> <span class="btn btn-success m-0">group name</span><br />
                            Quantity : 4, cost: $523.13<br />
                            <a data-placement="top" class="btn btn-success m-0" href="#" title="View" style="padding: 5px;color: white;"><i class="fa fa-edit"></i></a>
                            <a data-placement="top" class="btn btn-danger m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-key"></i></a>
                            <a data-placement="top" class="btn btn-info m-0" href="#" title="Danger" style="padding: 5px;color: white;"><i class="fa fa-upload"></i></a>
                        </div>
                        <div class="col-md-12">order made on: 06/20/2014 by <a href="#">Jane Doe</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">Put here some note for example: bootdey si a gallery of free bootstrap snippets bootdeys</div>
    </div>
</div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

