<!-- Footer section-->

<footer class="mt-12">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Useful Links</h4>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="">Home</a></li>
          <li class="nav-item"><a href="">Best Sales</a></li>
          <li class="nav-item"><a href="">Hot Products</a></li>
          <li class="nav-item"><a href="">New products</a></li>
          <li class="nav-item"><a href="">Best Offers</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Support Services</h4>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="">Services</a></li>
          <li class="nav-item"><a href="">Support</a></li>
          <li class="nav-item"><a href="">Having a problem?</a></li>
          <li class="nav-item"><a href="">Live Chat</a></li>
        </ul>
      </div>
      <address class="col">
        <h4>Contact</h4>
        <ul class="nav flex-column">
          <li class="nav-item">325	Don mills road,	Toronto,	Ontario,	CA</li>
          <li class="nav-item">	(123)	456-789</li>
          <li class="nav-item"><a	href="mailto:#">support@shoppingbuddy.com</a></li>
          <li class="dropdown-divider"></li>
          <li class="nav-item">
            <h5>follow us </h5>
            <div class="socials">
              <a class="btn btn-sm btn-outline-primary">facebook</a> | <a class="btn btn-sm btn-outline-danger">instagram</a> | <a class="btn btn-sm btn-outline-primary">twitter</a> | <a class="btn btn-sm btn-outline-danger" >youtube</a>
            </div>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <section id="footer-end " class="text-center">
    <span>CopyRight&copy; 2021 All Rights reserved made by <b>Shopping Buddy</b> </span>
  </section>
</footer>
