<div class="about-section">
  <h1>About Shopping Buddy</h1>
</div>
<br>
    
    <h2 style="text-align:center">OUR TEAM</h2>
    <div class="row">
      <div class="column">
        <div class="card" style="text-align: center;">
          <img src="../assets/Mohit_Shah.jpg" alt="Jane" style="width:52%;margin-left: 100px;">
          <div class="container">
            <h2>Mohit Jignesh Shah</h2>
            <p class="title">Front-end Designer & Developer</p>
            <p>Mohit.Shah@shoppingbuddy.com</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card" style="text-align: center;">
          <img src="../assets/Omid_Rajabi.jpg" alt="Mike" style="width:50%;margin-left: 100px;">
          <div class="container">
            <h2>Omid Rajabi</h2>
            <p class="title">Backend Developer</p>
            <p>Omid.Rajabi@shoppingbuddy.com</p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card" style="text-align: center;">
          <img src="../assets/Rahul_Selvakumar.jpg" alt="John" style="width:53%;margin-left: 100px;">
          <div class="container">
            <h2>Rahul Selvakumar</h2>
            <p class="title">Backend Developer</p>
            <p>Rahul.Selvakumar@shoppingbuddy.com</p>
          </div>
        </div>
      </div>
    </div>

    <h2>WHO WE ARE</h2>
    <p>
      Amazon is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. Amazon strives to be Earth’s most customer-centric company, Earth’s best employer, and Earth’s safest place to work. Customer reviews, 1-Click shopping, personalized recommendations, Prime, Fulfillment by Amazon, AWS, Kindle Direct Publishing, Kindle, Career Choice, Fire tablets, Fire TV, Amazon Echo, Alexa, Just Walk Out technology, Amazon Studios, and The Climate Pledge are some of the things pioneered by Amazon. </p><br>
   
<h2>WHAT WE DO</h2>
<p>
  Although our business has evolved over the years, one constant is customers’ desire for lower prices, better selection, and convenient services. Today, Amazon shoppers can find what they’re looking for online and in person. From delivering fresh produce to their doorstep to creating and distributing movies, music, and more, we are always finding new ways to delight our customers.
</p><br>
<h2>SHOPPING BUDDY's MENTALITY</h2>
<p>
  Working to earn and keep our customers’ trust is the single biggest driver of Amazon’s Day 1 approach. Amazon’s decision-making process that asks employees to consider whether an action is a one-way door—consequential and nearly irreversible—or a two-way door, easy to change course and go back. Discover more about who we are through our Annual Letters to Shareholders from 1997 through today.</p><br>
<h2>OUR POSITIONS</h2>
<p>
  We created this page to provide customers, investors, policymakers, employees, and others our views on certain issues. While our positions are carefully considered and deeply held, there is much room for healthy debate and differing opinions. We hope being clear about our positions is helpful.
</p><br>
<h2>AWARDS AND RECOGNITION</h2>
<p>
  Since day one we have strived to be the Earth’s most customer-centric company. We’re honored to be recognized for the work we do on behalf of our customers, employees, and communities around the world. Here are some recent awards we’ve received.
</p><br>